<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shopping Cart</title>
  </head>
  <body>
    <h1>SHOPPING CART</h1>

    <h3>Node.js and Express Book</h3>
    <p><strong>Price</strong> : $50.00</p>
    <p><strong>Quantity</strong> : 1</p>

    <br />

    <h3>React.js and Next.js Book</h3>
    <p><strong>Price</strong> : $20.00</p>
    <p><strong>Quantity</strong> : 2</p>

    <form action="/checkout" method="post">
      <input type="submit" value="Proceed To Checkout" />
    </form>
  </body>
</html>
